<!DOCTYPE html>
<html>
    <head>
      <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
     <link rel="stylesheet" href="css/materialize.css">
     <link rel="stylesheet" href="css/styles.css" media="screen" title="no title" charset="utf-8">
     <script src="js/jquery-1.12.1.js"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
     <script type="text/javascript" src="js/scripts.js"></script>
     <title>Crescendo Clothing Co</title>
    </head>
    <body>
        {% include '/includes/navbar.html.twig' %}
        <header class="hipsterPants">
        </header>




        {% for product in products %}
            <p>{{ product.getName }}</p>
            <p>{{ product.getPrice }}</p>
            <img src="{{ product.getImg }}">
        {% endfor %}



        <h1 class="mainTitle">{{ product.getName }}</h1>

        <div class="articleClothing">
          <aside>
            <h1>{{ product.getDescription }}</h1>
            <p>We believe that great style begins with great design—and probably agreat cup of coffee too. Everysingle piece is conceived in ourNew York City studio, wheredesigners sketch, drape, tuck andbead a collection to life.</p>
            <span class="available">AVAILABLE IN UP TO 5 SIZES.</span>
            <br><br>
            <img src="{{ product.getImg }}" alt="a picture of happy dudes in good pants" />
          </aside>

          <div class="productBoxContainer">
            <div class="productBox">
              <a href="#"><img src="img/pantRed.jpg" alt="a picture of red pants" /></a>
              <p>{{ product.getName }}</p>
              <h4>{{ product.getDescription }}</h4>
              <h4>{{ product.getPrice }}</h4>

            </div>
            <div class="productBox">
              <a href="#"><img src="{{ product.getImg }}" alt="a picture of red pants" /></a>
              <p>{{ product.getName }}</p>
              <h4>{{ product.getDescription }}</h4>
              <h4>{{ product.getPrice }}</h4>
            </div>
            <div class="productBox">
              <a href="#"><img src="{{ product.getImg }}" alt="a picture of red pants" /></a>
              <p>{{ product.getName }}</p>
              <h4>{{ product.getDescription }}</h4>
              <h4>{{ product.getPrice }}</h4>
            </div>
            <div class="productBox">
              <a href="#"><img src="{{ product.getImg }}" alt="a picture of red pants" /></a>
              <p>{{ product.getName }}</p>
              <h4>WASHED PANTS</h4>
              <h4>{{ product.getPrice }}</h4>
            </div>
          </div>



        </div>









        {% include '/includes/footer.html.twig' %}

    </body>
</html>
