<!DOCTYPE html>
<html>
    <head>
        {% include '/includes/head.html.twig' %}
    </head>
    <body>
        {% include '/includes/navbar.html.twig' %}
        <header class="hipsterPants">
        </header>


        <h1 class="mainTitle">{{ getTypeName(type_id) }}</h1>


        <div class="articleClothing">
          <aside>
            <h1>Our Philosophy</h1>
            <p>We believe that great style begins with great design—and probably a great cup of coffee too. Every single piece is conceived in our New York City studio, where designers sketch, drape, tuck and bead a collection to life.</p>
            <br><br>
            <img src= "/img/hipsterPants.jpg" alt="a picture of happy dudes in good pants" />
          </aside>

          <div class="productBoxContainer">
            {% for product in products %}
            <div class="productBox">
              <a href="/product/{{product.getId()}}"><img src="{{ product.getImg }}" alt="product picture" /></a>
              <p>{{ product.getName }}</p>
              <h4>{{ product.getPrice }}</h4>
            </div>
            {%endfor%}
          </div>

        </div>

        {% include '/includes/footer.html.twig' %}

    </body>
</html>
