<!DOCTYPE html>
<html>
  <head>
    {% include '/includes/head.html.twig' %}
  </head>
  <body>
    {% include '/includes/navbar.html.twig' %}
    {% include '/includes/header.html.twig' %}
    <div class="container">
      <h1 class="mainTitle">Profile</h1>
        <div class="universalFont">
        <div class="batman">
        <img src="img/batman.png">
        <h2>Your Profile</h2>
        </div>

        <h2>Your Current Information:</h2>
        <h3>First Name:</h3><p>{{ user.getFirstName }}</p>
        <h3>Last Name:</h3><p>{{ user.getLastName }}</p>
        <h3>Email:</h3><p>{{ user.getEmail}}
        <h3>Phone Number:</h3><p>{{ user.getPhone }}</p>
        <br>

        <h2>Your Current Shipping Information:</h2>
        <h3>Street:</h3><p>{{ user.ShipStreet }}</p>
        <h3>Apt:</h3><p>{{ user.ShipApt }}</p>
        <h3>City:</h3><p>{{ user.ShipCity}}</p>
        <h3>State:</h3><p>{{ user.ShipState}}</p>
        <h3>Zip Code:</h3><p>{{ user.ShipPostal}}</p>
        <br>

        <h2>Your Current Billing Information:</h2>
        <h3>Street:</h3><p>{{ user.BillStreet }}</p>
        <h3>Apt:</h3><p>{{ user.BillApt }}</p>
        <h3>City:</h3><p>{{ user.BillCity}}</p>
        <h3>State:</h3><p>{{ user.BillState}}</p>
        <h3>Zip Code:</h3><p>{{ user.BillPostal}}</p>
        <br><br>


        <h2>Update your current Profile Information:</h2>
        <form class="" action="/profile" method="post">
          <input type="hidden" name="_method" value="patch">
          <h3>Personal Information</h3>
          <label for="f_name">First Name:</label>
          <input id="f_name" name="f_name" type="text" value= '{{ user.getFirstName }}'><br><br>
          <label for="l_name">Last Name:</label>
          <input id="l_name" name="l_name" type="text" value= '{{ user.getLastName }}'><br><br>
          <label for="email">Email:</label>
          <input id="email" name="email" type="text" value= '{{ user.getEmail }}'><br><br>
          <label for="phone">Phone #:</label>
          <input id="phone" name="phone" type="text" value= '{{ user.getPhone }}'><br><br>
          <label for="password">Password:</label>
          <input id="password" name="password" type="password"><br><br>

          <h3>Shipping Information</h3>
          <label for="ship_street">Street:</label>
          <input id="ship_street" name="ship_street" type="text" value= '{{ user.getShipStreet }}'><br><br>
          <label for="ship_apt">Apartment Number:</label>
          <input id="ship_apt" name="ship_apt" type="text" value= '{{ user.getShipApt }}'><br><br>
          <label for="ship_city">City:</label>
          <input id="ship_city" name="ship_city" type="text" value= '{{ user.getShipCity }}'><br><br>
          <label for="ship_state">State:</label>
          <input id="ship_state" name="ship_state" type="text" value= '{{ user.getShipState }}'><br><br>
          <label for="ship_postal">Zip Code:</label>
          <input id="ship_postal" name="ship_postal" type="text" value= '{{ user.getShipPostal }}'><br><br>

          <h3>Billing Information</h3>
          <label for="bill_street">Street:</label>
          <input id="bill_street" name="bill_street" type="text" value= '{{ user.getBillStreet }}'><br><br>
          <label for="bill_apt">Apartment Number:</label>
          <input id="bill_apt" name="bill_apt" type="text" value= '{{ user.getBillApt }}'><br><br>
          <label for="bill_city">City:</label>
          <input id="bill_city" name="bill_city" type="text" value= '{{ user.getBillCity }}'><br><br>
          <label for="bill_state">State:</label>
          <input id="bill_state" name="bill_state" type="text" value= '{{ user.getBillState }}'><br><br>
          <label for="bill_postal">Zip Code:</label>
          <input id="bill_postal" name="bill_postal" type="text" value= '{{ user.getBillPostal }}'><br><br>

          <button class="waves-effect waves-light btn" type="submit">Submit</button>
        </form>
      </div>
    </div>
    {% include '/includes/footer.html.twig' %}
  </body>
</html>
